:root {
  --color-text: #2b2b2b;
  --color-text-light: #5c5c5c;
  --color-bg: #f2f3eb;
  --color-surface: #f7f7f7;
  --color-border: #e0e0e0;

  --color-primary: #5c6638;
  --color-primary-light: #dfe6c9;
  --color-primary-border: #5c6638;

  --color-hover-dark: #6f7a46;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color-text);
  background: var(--color-bg);
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}
button {
  font-weight: 500;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
}

.App-header,
main,
.App-footer {
  margin: 1rem 0;
}

.App h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 5rem;
}

.App-footer {
  font-size: 0.875rem;
  color: var(--color-text-light);
}
