.Meaning {
  background: #f5f5f5;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  text-align: left;
  width: 600px;
}

.Meaning h3.partOfSpeech {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.Meaning p.definition {
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
}
