.Photos {
  background: white;
  border-radius: 20px;
  padding: 20px;
  margin-top: 7em;
}

.Photos img {
  border-radius: 6px;

  width: 100%;
}
.Photos .col-md-4 {
  padding: 1em;
}

.PhotoCredit {
  font-size: 0.75em;
  color: var(--color-text-light);
}
